p {
    color: #964B00;
    line-height: 30px;
}

h1, h3, p, h4 {
    text-align: center;
}

h1 {
    color: red;
}

h3 {
    color: black;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: rgb(0, 128, 0);
}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color: #000000;
}

span {
    text-decoration: underline;
}