

.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* justify-items: center;
    align-items: center; */
    place-items: center;
}
.item {
    width: 100px;
    height: 50px;
    background-color: green;
    border: 2px solid paleturquoise;
    text-align: center;
}

.one {
    place-self: start;
}
.two {
    place-self: end;
}


.one {
    /* justify-self: start; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-column: 1 / span 2; */
}

.two {
    /* align-self: self-end; */
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1 / 3; */
    /* grid-column: 3;
    grid-row: 2 / span 3; */
}