#face {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: orange;
    /* margin: 50px; */
}

.eyes {
    height: 20px;
    width: 15px;
    border-radius: 100%;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 60px;
    left: 50px;
}

#first {
    margin-right: 70px;
}

#mouth {
    height: 40px;
    width: 80px;
    background-color: brown;
    position: relative;
    top: 100px;
    left: 60px;
    border-radius: 0 0 15px 15px;
}